#disable_html_escaping()

#set( $scmbean = $params.get("scmactivity"))

#if( $scmbean.changeType.toLowerCase().contains('subversion') || $scmbean.changeType.toLowerCase().contains('svn') 
    || $scmbean.changeType.toLowerCase().contains('git') )
    #set( $myChange = "Revision" )
#elseif ( $scmbean.changeType.toLowerCase().contains('collaborator') || $scmbean.changeType.toLowerCase().contains('coco') 
    || $scmbean.changeType.toLowerCase().contains('swarm') )
    #set( $myChange = "Review" )
#elseif ( $scmbean.changeType.toLowerCase().contains('perforce') || $scmbean.changeType.toLowerCase().contains('p4')
    || $scmbean.changeType.toLowerCase().contains('gerrit') )
    #set( $myChange = "Change" )
#else
    #set( $myChange = "Integration" )
#end

<p>Issue <b><a href="$scmbean.baseUrl/browse/$scmbean.issueKey">$scmbean.issueKey</a></b> Updated.</p>
<hr/>

<div style="font-family: Helvetica, Arial, San-Serif; font-size: 14px;">

$myChange 
<a href="$scmbean.changeLink">$scmbean.changeId</a> 
#if ( $!scmbean.changeBranch && $!scmbean.changeBranch != "" )
 ($scmbean.changeBranch)
#end
 by
#if( $!scmbean.jiraAuthor && $!scmbean.jiraAuthor != "" )
  <a href="$scmbean.baseUrl/secure/ViewProfile.jspa?name=$scmbean.changeAuthor">$scmbean.jiraAuthor</a>
#else
  $scmbean.changeAuthor
#end
-
$scmbean.changeDate
#if ( $!scmbean.changeTag && $!scmbean.changeTag != "" )
 ($scmbean.changeTag)
#end
#if ( $!scmbean.changeStatus && $!scmbean.changeStatus != "" )
 ($scmbean.changeStatus)
#end


#if ( $scmbean.changeMessage )
    $scmbean.changeMessage
#end


#if( $scmbean.changeFiles && $scmbean.changeFiles.size() > 0 )
   <p><font color='blue'>Affected files ...($scmbean.changeFiles.size())</font></p>
   <table style="font-family: 'Courier New',Courier; font-size: 12px;">
   #foreach ( $scmFile in $scmbean.changeFiles )
        <tr><td style="text-align:right;">$scmFile.getFileAction()</td>
			<td>&nbsp;&nbsp;&nbsp;</td>
            <td>$scmFile.getFileName()
            #if( $scmFile.getFileVersion() )
               #$scmFile.getFileVersion()
            #end
        </td></tr>
   #end
   <table>
#end


#if( $!scmbean.jobs && $scmbean.jobs.size() != 0 )
    <p><font color='blue'>Jobs</font><br/>
    #foreach ( $job in $scmbean.jobs )
        #if ( $!job.jobLink && $!job.jobLink != "" )
            -  <a href="$job.jobLink" target="_blank">$job.jobName</a>
        #else
           $job.jobName
        #end
        #if ( $!job.jobStatus && $!job.jobStatus != "" )
          ($job.jobStatus)
        #end
        <br>
    #end
    </p>
#end
</div>